{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="{% url 'add-redacoes' %}">{% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlSelect1">Gênero da Redação</label>
            <select name="genero" class="form-control" id="exampleFormControlSelect1" required>
                <option selected disabled value="">Selecione</option>
                {% for materia in materias %}
                    <option value="{{ materia }}">{{ materia }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="nome_lista">Tema da Redação</label>
            <input name="nome_lista" class="form-control" type="text" placeholder="Ex.: Invisibilidade e registro civil: garantia de acesso à cidadania no Brasil" required>
        </div>
        <div class="form-group">
            <label for="quantidade_questoes">Nota</label>
            <input name="quantidade_questoes" class="form-control" type="number" placeholder="Ex.: 850" required>
        </div>
        <div class="form-group">
            <label for="data">Data da Realização</label>
            <input name="data" class="form-control" type="date" required>
        </div>
        <div class="form-group">
            <label for="quantidade_questoes">Tempo de Realização</label>
            <input name="quantidade_questoes" class="form-control" type="number" placeholder="Ex.: 60 minutos" required>
        </div>
        <div class="form-group">
            <label for="nome_lista">Correção (Opcional)</label>
            <input name="nome_lista" class="form-control" type="text" placeholder="Adicione a correção da sua redação">
        </div>
        <div class="form-group">
            <label for="data">Data da Correção</label>
            <input name="data" class="form-control" type="date">
        </div>
        <button type="submit" class="btn btn-success">Adicionar</button>
    </form>
{% endblock %}