{% extends 'base.html' %}
{% block content %}
<div class="container">
         <div class="row">
             <div class="col-12">
                 <div class="section-heading">
                     <h3>Olá, {{ user.username }}</h3>
                 </div>
             </div>
         </div>
    </div>
    <a href="#">
        <button type="button" class="btn btn-success" style="float: right; margin-bottom: 2rem">Adicionar</button>
    </a>

    <form>
        <div class="form-group">
            <input class="form-control" type="text" name='nome' placeholder="Buscar por tema...">
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tema</th>
                <th>Gênero</th>
                <th>Vestibular</th>
                <th>Nota</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for redacao in redacoes %}
                <tr>
                    <td style='vertical-align:middle'>{{ redacao.tema }}</td>
                    <td style='vertical-align:middle'>{{ redacao.genero }}</td>
                    <td style='vertical-align:middle'>{{ redacao.vestibular }}</td>
                    <td style='vertical-align:middle'>{{ redacao.nota }}</td>
                    <td style='text-align:center; vertical-align:middle'><a href="#" class="btn btn-primary">Ver</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}