{% extends 'base.html' %}
{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ redacao.tema }}</h1>
            <hr class="my-2">
            {% if redacao.nota %}
                <h4><strong>Nota:</strong> {{ redacao.nota }}</h4>
            {% else %}
                <h4>Redação ainda não corrigida</h4>
            {% endif %}
            <a href="{% url 'editar-redacao' redacao.id %}">
                <button style="margin-top: 1rem" class="btn btn-outline-primary">Editar</button>
            </a>
            {% if redacao.correcao %}
                <a href="" data-toggle="modal" data-target="#staticBackdrop">
                    <button style="margin-top: 1rem" class="btn btn-outline-info">Ver Correção</button>
                </a>
                <div class="container">
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Correção da Redação</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <h6>{{ redacao.correcao }}</h6>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            {% endif %}
        </div>
    </section>
    <div class="container">
        <div class="col-md-4">
            <h6><strong>Vestibular:</strong> {{ redacao.vestibular }}</h6>
            <h6><strong>Gênero:</strong> {{ redacao.genero }}</h6>
            <h6><strong>Data da Realização:</strong> {{ redacao.data_realizacao }}</h6>
            <h6><strong>Duração:</strong> {{ redacao.tempo_de_realizacao }} minutos</h6>
        </div>
    </div>

{% endblock %}