{% extends 'base.html' %}
{% block content %}

    <div class="container">
         <div class="row">
             <div class="col-12">
                 <div class="section-heading">
                     <h3>Olá, {{ user.username }}</h3>
                 </div>
             </div>
         </div>
    </div>
    <button style="float: right; margin-left: 1rem" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Filtrar</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filtar Por Matéria e Tipo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="get" action="{% url 'dashboard' %}"> {% csrf_token %}
                        <div class="form-group">
                            <label for="materia">Matéria</label>
                            <select name="materia" class="form-control">
                                <option value="todas">Todas</option>
                                {% for materia in materias %}
                                    <option value="{{materia}}">{{materia}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tipo" class="col-form-label">Tipo da Lista:</label>
                            <input type="text" name="tipo" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </form>
                </div>
                <div class="modal-footer">
                 </div>
            </div>
        </div>
    </div>
    <a href="{% url 'add-registro' %}">
        <button type="button" class="btn btn-success" style="float: right; margin-bottom: 2rem">Adicionar</button>
    </a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Lista</th>
                <th>Matéria</th>
                <th>Tipo da Lista</th>
                <th>N° de Questões</th>
                <th>Acertos</th>
                <th>Erros</th>
                <th>Data da Realização</th>
            </tr>
        </thead>
        <tbody>
            {% for lista in listas %}
                <tr>
                    <td><a href="{% url 'detalhes-listas' lista.id%}">{{ lista.nome_da_lista }}</a></td>
                    <td>{{ lista.materia }}</td>
                    <td>{{ lista.tipo }}</td>
                    <td>{{ lista.quantidade_questoes }}</td>
                    <td>{{ lista.acertos }}</td>
                    <td>{{ lista.erros }}</td>
                    <td>{{ lista.data_realizacao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}