{% extends 'base.html' %}
{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ lista.nome_da_lista }} de {{ lista.materia }}</h1>
            {% if lista.data_revisao %}
                <h4>Data da última revisão: {{ lista.data_revisao }}</h4>
            {% else %}
                <h4>Lista ainda não revisada</h4>
            {% endif %}
            <a href="{% url 'editar-lista' lista.id %}">
                <button class="btn btn-secondary">Editar</button>
            </a>
        </div>
    </section>
    <div style="margin-bottom: 2rem" class="container">
        <div class="col-md-4">
            <h2>Informações</h2>
            <h6><strong>Matéria:</strong> {{ lista.materia }}</h6>
            <h6><strong>Nome:</strong> {{ lista.nome_da_lista }}</h6>
            <h6><strong>Tipo da Lista:</strong> {{ lista.tipo }}</h6>
            <h6><strong>Questões:</strong> {{ lista.quantidade_questoes }}</h6>
            <h6><strong>Acertos:</strong> {{ lista.acertos }}</h6>
            <h6><a href="" data-toggle="modal" data-target="#staticBackdrop"><strong>Erros:</strong> {{ lista.erros }}</a></h6>
            <h6><strong>Data da Realização:</strong> {{ lista.data_realizacao }}</h6>
            <h6><strong>Duração:</strong> {{ lista.tempo_realizacao }} minutos</h6>

        </div>
    </div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Descrição do Erro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if lista.descricao_erros %}
                            {{ lista.descricao_erros }}
                        {% else %}
                            Não há descrição armazenada
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}