{% extends 'base.html' %}
{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Controle seu desempenho nas atividades</h1>
            <p class="lead text-muted">Acompanhe seu desempenho nas atividades/listas de questões, anotando o quanto você acertou e o quanto você errou em cada uma delas.</p>
            {% if user.is_authenticated %}
                <p>
                    <a href="{% url 'add-registro' %}" class="btn btn-primary my-2">Adicionar Registro</a>
                </p>
            {% else %}
                <p>
                    <a href="{% url 'login' %}" class="btn btn-primary my-2">Entrar</a>
                    <a href="{% url 'cadastro' %}" class="btn btn-secondary my-2">Criar Conta</a>
                </p>
            {% endif %}
        </div>
    </section>
{% endblock %}